@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, Sans-Serif;
	font-size: 14px;
}

#menu_div {
	position: relative;
	width: 100%;
	border-style: dotted;
	border-color: aqua;
	height: 100%
}
#date{
	left:	90%; 
	top: 	5%;
	padding-top: 10%;
}
#menu_div a {
	display: block;
	width: 160px;
}

#menu_div ul {
	list-style-type: none;
	padding-top: 0%;
	padding-left: 0%;
	/* padding-right: 5%; */
}

#menu_div li {
	float: left;
	position: relative;
	padding: 3px 0;
	text-align: center;
}

#menu_div ul.sub-menu {
	display: none;
	position: absolute;
	top: 45px;
	left: -10px;
	padding: 10px;
	z-index: 100;
}

#menu_div ul.sub-menu li {
	text-align: left;
}

#menu_div li:hover ul.sub-menu {
	display: block;
	/*border: 3px solid #ececec;*/
	border: 1px solid red;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#menu_div_cart {
	position: relative;
	width: 100%;
	height: 10%
}
#date{
	left:	90%; 
	top: 	5%;
	padding-top: 10%;
}
#menu_div_cart a {
	display: block;
	width: 140px;
}

#menu_div_cart ul {
	list-style-type: none;
	padding-top: 0%;
	padding-left: 5%;
	/* padding-right: 5%; */
}

#menu_div_cart li {
	float: left;
	position: relative;
	padding: 3px 0;
	text-align: center;
}

#menu_div_cart ul.sub-menu {
	display: none;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 10px;
	z-index: 100;
}

#menu_div_cart ul.sub-menu li {
	text-align: left;
}

#menu_div_cart li:hover ul.sub-menu {
	display: block;
	/*border: 3px solid #ececec;*/
	border: 1px solid red;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}